body{
    background-color:rgba(166,162,162,1);
    color:#a6e69c;
    text-align:center;
}
h1{
    font-size: 100px;
    color: black;
    font-family: 'Pacifico', cursive;
}
h2{
    font-size: 70px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: black;
}
header {
    color: black;
    text-align: center;
    background: url(https://lh3.google.com/u/0/d/17mBscswOLsgckjSovqnyc3PT6P2NvJuo=w1920-h859-iv1);
    background-size: 350px;
}
img {
    border:7px solid black ;
    
}
a {
    text-align: center;
    color:#847577;
    font-size:30px;
}
ul, li {
    padding: 10px;
    display: inline;
    text-align: center;
    padding:0px 10px 0px 10px;

}
article {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    color:#fbfbf2;
}
.picture {
    text-align: center;
}
@media (max-width: 500px) {
   h1 {
       font-size: 36px;
   }
   li {
       display: block;
       padding: 5px;
   }
}
p {
    text-align: left;
}
h3 {
    color:white;
    text-align: center;
}
