body {
    background:darkgrey;
    color:black;
    text-align: center;
}
h1{
    font-size: 100px;
}
h2{
    text-align: center;
    color: black;
    font-size: 70px
}
h3{
    text-align: center;
    color: black;
    font-size: 60px
}

header {
    color:black;
    Text-align: center;
    background: url(https://lh3.google.com/u/1/d/1B4WzV2bXvgkemt-HmnAzutDb82168w_E=w1316-h746-iv1);
    background-size: cover;
    padding: 20px 0px 0px 0px
}
img {
    border:7px solid grey ;
    
}
a {
    text-align: center;
    color:black;
    font-size:30px;
}
ul, li {
    padding: 10px;
    display: inline;
    text-align: center;
    padding:0px 10px 0px 10px;

}
article {
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px;
    color:#fbfbf2;
}
@media (max-width: 500px) {
   h1 {
       font-size: 36px;
   }
   li {
       display: block;
       padding: 5px;
   }
}
